$body-bg: white;
$primary: #98dd3d;
$color: #91dde7;

@import '~bootstrap/scss/bootstrap.scss';



.card-body{
    color: white;
    background-color: #248;
}

.card-body:hover{
    cursor: pointer;
}
.director{
    color: $color;
}
.director:hover{
    cursor: pointer;
    color: #fa2;
}

.form-group{
    margin-top: 10px;
    margin-bottom: 10px;
}

.form-control{
    background-color: white;
}

.form-control:active{
    background-color: white;
}