@import url('https://fonts.googleapis.com/css2?family=Karma:wght@400;700&family=Roboto&family=Yanone+Kaffeesatz:wght@400;700&display=swap');

$body-bg: #fff;
$primary: #09b67c;
$color: #91dde7;
$kaffeesatz: 'Yanone Kaffeesatz',sans-serif;
$card-bg : #375c79;
@import '~bootstrap/scss/bootstrap.scss';



.card{
    background-color: $card-bg;

}
.card-body{
    color: white;
    font-family: $kaffeesatz;
}

.director{
    color: $color;
}
.director:hover{
    cursor: pointer;
    color: #fa2;
}

.form-group{
    margin-top: 10px;
    margin-bottom: 10px;
}

.form-control{
    background-color: $body-bg;
}

.form-control:active{
    background-color: white;
}

.user{
    color: $card-bg;
}

button.btn-link{
    margin: auto;
    display: block;
}

