@import url('https://fonts.googleapis.com/css2?family=Karma:wght@400;700&family=Roboto&family=Yanone+Kaffeesatz:wght@400;700&display=swap');

$body-bg: white;
$primary: #98dd3d;
$color: #91dde7;
$kaffeesatz: 'Yanone Kaffeesatz',sans-serif;
@import '~bootstrap/scss/bootstrap.scss';



.card-body{
    color: white;
    background-color: #248;
    font-family: $kaffeesatz;
}

.card-body:hover{
    cursor: pointer;
}
.director{
    color: $color;
}
.director:hover{
    cursor: pointer;
    color: #fa2;
}

.form-group{
    margin-top: 10px;
    margin-bottom: 10px;
}

.form-control{
    background-color: white;
}

.form-control:active{
    background-color: white;
}